@import "texture-mixin";
@import "custom-bootstrap-variables";

.board {
    height: 90vmin;
    width: 90vmin;

    tbody > tr > td {
        padding: 0;
        border: 5px solid $gray-darker;
    }
}

.board_cell {
    position: relative;
}

.piece {
    position: absolute;
    top: 0;
    left: 0;
}

body {
    @include texture($body-bg, 48, 1);
}

.page-header {
    border-bottom: 1px solid $gray;
}
